.divider {
  border-bottom: 2px solid #0163ee;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
}
.img-thumbnails {
  max-width: 100%;
  height: auto;
}
.shadow-lg {
  box-shadow: 1rem rgba(0, 0, 0, 0.15) !important;
}
